# ------------ UNITY (Versión Recursiva) ------------
# Quitamos la barra inicial para que busque en subcarpetas
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# ------------ RESTO DE ARCHIVOS ------------
!/[Aa]ssets/**/*.meta
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/